.btn {
  display: flex;
  margin-top: 2.5rem;
  margin-left: 45%;
  width: 20%;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-left: 30%;
  width: 20%;

  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: #4d8ea1;
  border-radius: 10px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  // border:red 0.5px solid;
  margin: 0rem 12rem 0.5rem 12rem
}

.allRoomsDatas {
  // border: solid black 2px;
  display: flex;
}

.hostelData {
  width: 17rem;
}

.text {
  font-size: 15px;
}

.roomContainer {
  display: flex;
  flex-wrap: wrap;
  // border: solid pink 2px;
  justify-content: flex-start;
}