
.picutresBlock {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.roomImgBlock {
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  width: 15rem;
  height: 9rem;
  border: solid rgb(160, 160, 160) 1px;
  overflow: hidden;
}

.text {
  line-height: 5px;
  margin-top: 8px;
}

.roomImg {
  height: 16rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}