.container {
  display: flex;
  margin: 0rem 10rem 3rem 10rem;
}

.allBlock {
  width: 85rem;
}

.btn {
  display: flex;
  margin-top: 2.5rem;
  margin-left: 45%;
  width:10%;
}

.NavLink {
  text-decoration: none;
  color: rgb(65, 65, 65);
}
