.conditionBar {
  width: 100%;
  height: 7rem;
  background-color: #bebebe;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
}

.barSet {
  // border: orange 1px solid; 
  display: flex;
  align-items: center;
}
.headcountBarSet {
  // border: orange 1px solid; 
  padding-top: 34px;
  display: flex;
  flex-direction: column;
}

.placeInput {
  width: 13rem;
  height: 1.6rem;
  margin-left: 0.2rem
}

.dateInput {
  height: 1.6rem;
  margin-left: 0.2rem
}

.headCountInput {
  height: 1.6rem;
  width: 3.5rem;
  margin-left: 0.2rem
}

.textItem{
  font-weight: bold;
  margin-top: 0.5rem;
}