html, body {
  margin: 0
}

.NavBar {
  width: 100%;
  height: 60px;
  background-color: #2d7388;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 50px;
  // border: solid red 1px
}

.userSet{
  display: flex;
  line-height: 58px;
  height: 100%;
}
.otherSet{
  display: flex;
  line-height: 58px;
  height: 100%;
}
.barBtn{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
  text-decoration:none;
  width: 120px;
  height: 100%;
}
.barName{
  margin-right: 35px;
  color: white;
  font-size: 18px;
  text-decoration:none;
  height: 100%;
}

.barBtn:hover {
  background-color: #1b586b;
}